.resultCell{
		width:200px;
		

		font-size:18px;
		background-color:#EEE;
		border-bottom:1px solid #999;
	}

	.resultCell.red, tr.row_neg .fr, td.row_neg,#barcode_result .row_neg { background-color: #EB837A; }
	.resultCell.green, tr.row_pos .fr, td.row_pos,#barcode_result .row_pos{ background-color: #a2f285; }
	.resultCellYellow, tr.row_rep_pcr .fr, td.row_rep_pcr,#barcode_result .row_rep_pcr { background-color: #e0be58; }
	tr.row_ctrl{ display:none; }
	tr.row_rep_ext .fr, td.row_rep_ext,#barcode_result .row_rep_ext { background-color: #d3b0ff; }

	tr.row_rep_tamp .fr, td.row_rep_tamp, #barcode_result .row_rep_tamp { background-color: #fc7f03 }
	tr.row_error .fr, td.row_error, span.row_error { background-color: red; }


	.intest{
		background-color:#333;
		color:white;
		font-weight:bold;
		font-weight:bold;
		border-bottom:1px solid black;
		text-align:center;
	}
	.headerText{
		font-weight:bold;
		font-size:19px;
		border-bottom:1px solid #999;
		width:90%;
	}

	#wellLayout table tr.intest td{font-weight:bold; border-bottom:2px solid black;}
	#wellLayout table td.intestRow{font-weight:bold; width:auto; padding:5px 15px; background-color: #CCC; border-right:2px solid black;}



	#wellLayout tr.layoutRow td { text-align:center; width:60px; padding:5px 10px; border-bottom:1px solid #999; border-left:1px solid #999;} 

	#wellLayout a {color:black;} 

	.legendTable td{ padding:5px 10px; border:1px solid #333; }

	.legendTable td .inactive{ background-color:black !important; }	

 

#barcode_result .control_barcode, #barcode_result .no_result { background-color: #bbb; };
			label {
				font-weight: bold;
			}
			#query_container {
				font-size: 4em;
				text-align: center;
			}
			#barcode_query {
				margin-top: 0.5em;
				margin-bottom: 0.5em;
			}
			#spinner {
				width: 5em;
				display: block;
				margin: 0 auto;
			}
			
.trackerDiv{
	width:45%;
	margin-left:10px; 
	float:left; 
	display:none;
	padding:10px;
}

.trackerDiv p {
	font-weight:bold;
	text-transform:uppercase;
	text-align:center;
}
.trackerDiv textarea {
	width:99%;
	margin:0px;
	height:400px;
	font-size:1.1em;
	
}

p.storicoTampone{
	font-size:28px;
}